/*=========================================
  CONTAINER
=========================================*/

.container{
    width:min(90%,var(--container-width));
    margin-inline:auto;
}


/*=========================================
  HEADER
=========================================*/

.header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background:transparent;
    z-index:1000;
}


/*=========================================
  NAVBAR
=========================================*/

.header .container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    min-height:90px;
}


/*=========================================
  LOGO
=========================================*/

.logo{
    display:flex;
    align-items:center;
}

.logo img{
    height:60px;
    width:auto;
}


/*=========================================
  NAVIGATION
=========================================*/

.navbar{
    display:flex;
    align-items:center;
}


/*=========================================
  MENU
=========================================*/

.nav-list{
    display:flex;
    align-items:center;
    gap:40px;
}


/*=========================================
  MENU BUTTON
=========================================*/

.menu-toggle{
    display:none;
}