/*=========================================
  LARGE DEVICES
=========================================*/
@media (max-width: 992px) {
  .nav-list {
    gap: 25px;
  }
}

/*=========================================
  TABLET
=========================================*/
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  .navbar {
    display: none;
  }
}

/*=========================================
  MOBILE
=========================================*/
@media (max-width: 576px) {
  .logo img {
    height: 48px;
  }

  .header .btn {
    display: none;
  }
}

/*====================================================
RESPONSIVE
====================================================*/

@media (max-width: 991px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }
  .footer-brand p {
    margin-left: auto;
    margin-right: auto;
  }
}
